
<ion-header>

  <ion-navbar>
    <ion-title>Local</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bc-content">

  <ion-list no-lines *ngFor="let place of places">
      <ion-card (click)="goPlaceDetails(place)">

          <img-loader useImg *ngIf="place.images.length > 0" src="{{host}}{{place.images[0]}}"></img-loader>

          <ion-card-content>
            <ion-card-title>
              {{place.name}}
            </ion-card-title>

            <p>{{place.description}}</p>
          </ion-card-content>

        </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Carregando...">></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
