<ion-header>

    <ion-navbar>
        <ion-title>Categoria</ion-title>
      </ion-navbar>

  </ion-header>


  <ion-content class="bc-content">



    <ion-list no-lines *ngFor="let category of categories">
      <ion-card (click)="goPlaces(category)">

        <ion-item>
          <ion-avatar item-left>
            <img *ngIf="!category.hasImage" src="assets/imgs/category.svg">
            <img-loader *ngIf="category.hasImage" useImg src="{{host}}{{category.id}}"></img-loader>
          </ion-avatar>
          <h2>{{category.description}}</h2>
        </ion-item>

      </ion-card>
    </ion-list>

  </ion-content>
