page-auth {

  .logo {
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .link {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
