
<ion-content padding>

    <form [formGroup]="credentialsForm">
        <img class="logo" src="assets/imgs/logomarca.jpg"/>

        <ion-item>
          <ion-label stacked floating>Email</ion-label>
          <ion-input type="email" required formControlName="email"></ion-input>
        </ion-item>
        <div *ngIf="!credentialsForm.controls.email.valid && credentialsForm.controls.email.dirty" class="validator-error">
          Email inválido.
        </div>

        <ion-item>
          <ion-label stacked floating>Senha</ion-label>
          <ion-input type="password" required formControlName="password"></ion-input>
        </ion-item>

        <button class="link" text-center ion-button clear (click)="forgottenPass()">Esqueceu a senha?</button>

        <button ion-button block [disabled]="!credentialsForm.valid" (click)="enter()">Entrar</button>

        <h4 text-center>ou</h4>

        <button ion-button block full icon-left color="blue" (click)='loginFacebook();'>
          <ion-icon name="logo-facebook"></ion-icon>Login com Facebook
        </button>

        <button class="link" text-center ion-button clear (click)="newUser()">Cadastre-se</button>
    </form>

</ion-content>
