
<ion-header>

  <ion-navbar>
    <ion-title>Evento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bc-content">

  <ion-list no-lines *ngFor="let event of events">
      <ion-card (click)="goEventDetails(event)">

          <img-loader useImg *ngIf="event.images.length > 0" src="{{host}}{{event.images[0]}}"></img-loader>

          <ion-card-content>
            <ion-card-title>
              {{event.name}}
            </ion-card-title>

            <p>{{event.description}}</p>

            <p>
              <button ion-button icon-left clear class="detail-list">
                <ion-icon name="calendar"></ion-icon>
                <h2 *ngIf="event.dateEnd">{{event.dateStart}} - {{event.dateEnd}}</h2>
                <h2 *ngIf="!event.dateEnd">{{event.dateStart}}</h2>
              </button>
            </p>

            <p>
              <button ion-button icon-left clear class="detail-list">
                <ion-icon name="time"></ion-icon>
                <h2 *ngIf="event.timeEnd">{{event.timeStart}} - {{event.timeEnd}} Hrs</h2>
                <h2 *ngIf="!event.timeEnd">{{event.timeStart}} Hrs</h2>
              </button>
            </p>

            <p>
              <button ion-button icon-left clear class="detail-list">
                <ion-icon name="pricetag"></ion-icon>
                <h2>{{event.price}}</h2>
              </button>
            </p>
          </ion-card-content>

        </ion-card>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Carregando...">></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
