
<ion-header>

  <ion-navbar>
    <ion-title>{{event.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bc-content">

  <ion-list no-lines>
      <ion-card>

        <ion-item>
          <h2>{{event.city}}</h2>
          <p>Cep: {{event.cep}}</p>

          <p>
            <button ion-button icon-left clear>
              <ion-icon name="map"></ion-icon>
              <h2 (click)="openAddress()">{{event.street}}, nº {{event.number}}</h2>
            </button>
          </p>

          <p *ngIf="event.email">
            <button ion-button icon-left clear>
              <ion-icon name="mail"></ion-icon>
              <h2 (click)="sendEmail()">{{event.email}}</h2>
            </button>
          </p>

          <p *ngIf="event.phone">
            <button ion-button icon-left clear>
              <ion-icon name="call"></ion-icon>
              <h2 (click)="callTo()">{{event.phone}}</h2>
            </button>
          </p>

          <p>
            <button ion-button icon-left clear>
              <ion-icon name="calendar"></ion-icon>
              <h2 *ngIf="event.dateEnd">{{event.dateStart}} - {{event.dateEnd}}</h2>
              <h2 *ngIf="!event.dateEnd">{{event.dateStart}}</h2>
            </button>
          </p>

          <p>
            <button ion-button icon-left clear>
              <ion-icon name="time"></ion-icon>
              <h2 *ngIf="event.timeEnd">{{event.timeStart}} - {{event.timeEnd}}</h2>
              <h2 *ngIf="!event.timeEnd">{{event.timeStart}}</h2>
            </button>
          </p>

          <p>
            <button ion-button icon-left clear>
              <ion-icon name="pricetag"></ion-icon>
              <h2>{{event.price}}</h2>
            </button>
          </p>
        </ion-item>

        <ion-card-content>
          <p>{{event.description}}</p>
        </ion-card-content>

        <ion-row *ngIf="event.images.length > 0">
          <ion-col>
            <button ion-button icon-left clear (click)="showPhotos()">
              <ion-icon name="md-camera"></ion-icon>
              <div>Fotos</div>
            </button>
          </ion-col>
        </ion-row>

      </ion-card>
  </ion-list>



</ion-content>
