<!--
  Generated template for the ForgottenPassPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Resetar Senha</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <form [formGroup]="credentialsForm">
        <ion-item>
          <ion-label stacked floating>Email</ion-label>
          <ion-input type="email" required formControlName="email"></ion-input>
        </ion-item>
        <div *ngIf="!credentialsForm.controls.email.valid && credentialsForm.controls.email.dirty" class="validator-error">
          Email inválido.
        </div>

        <button ion-button block [disabled]="!credentialsForm.valid" (click)="resetPass()">Enviar</button>
  </form>

  </ion-content>
