
<ion-header>

  <ion-navbar>
    <ion-title>Contato</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="bc-content">

    <ion-card>

        <ion-item>
          <ion-row>
              <ion-col>
                <button ion-button icon-left clear>
                    <ion-icon name="call"></ion-icon>
                    <h2 (click)="callTo()">{{config.phoneContact}}</h2>
                </button>
              </ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                <button ion-button icon-left clear>
                    <ion-icon name="mail"></ion-icon>
                    <h2 (click)="sendEmail()">{{config.emailContact}}</h2>
                </button>
              </ion-col>
          </ion-row>
        </ion-item>

      </ion-card>

</ion-content>
