<ion-header>

  <ion-toolbar>
    <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Tiradentes
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="bc-content">



    <ion-list>
        <ion-card>

            <img-loader useImg *ngIf="config.image" src="{{config.image}}"></img-loader>

            <ion-card-content>
              <p>
                  {{config.description}}
              </p>
            </ion-card-content>

          </ion-card>
    </ion-list>

</ion-content>
