<ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="menu">

      <ion-list no-lines>
        <p>
          <button menuClose clear ion-item icon-left *ngFor="let p of pages" (click)="openPage(p)">
            <ion-icon class="icon-menu" name="{{p.icon}}"></ion-icon>
            {{p.title}}
          </button>
        </p>
      </ion-list>

      <div class="line-menu"></div>
      <p>
        <button no-lines ion-item icon-left clear (click)="logout()">
          <ion-icon class="icon-menu" name="log-out"></ion-icon>
          Sair
        </button>
      </p>
    </ion-content>
  </ion-menu>
  <ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
