// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.line-menu {
  margin-left: 15px;
  width: 95%;
  height: 2px;
  /* background-color: rgb(16, 89, 130);*/
  background-color: color($colors, light, base);
}

.menu, .menu button, .menu button:active, .menu button:focus {
  background-color: color($colors, primary, base);//#604834;
  color: color($colors, light, base);//#fff;
}
