
<ion-header>

  <ion-navbar>
    <ion-title>Alterar Senha</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <form [formGroup]="credentialsForm">
        <ion-item>
          <ion-label stacked floating>Senha Atual</ion-label>
          <ion-input type="password" required formControlName="current"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked floating>Nova Senha</ion-label>
            <ion-input type="password" required formControlName="newpass"></ion-input>
        </ion-item>

        <button ion-button block [disabled]="!credentialsForm.valid" (click)="changePass()">Alterar</button>
  </form>

</ion-content>
