
<ion-header>

  <ion-navbar>
    <ion-title>{{place.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bc-content">

  <ion-list no-lines>
      <ion-card>

        <ion-item>
          <h2>{{place.city}}</h2>
          <p>Cep: {{place.cep}}</p>

          <p>
            <button ion-button icon-left clear>
              <ion-icon name="map"></ion-icon>
              <h2 (click)="openAddress()">{{place.street}}, nº {{place.number}}</h2>
            </button>
          </p>

          <p *ngIf="place.email">
            <button ion-button icon-left clear>
              <ion-icon name="mail"></ion-icon>
              <h2 (click)="sendEmail()">{{place.email}}</h2>
            </button>
          </p>

          <p *ngIf="place.phone">
            <button ion-button icon-left clear>
              <ion-icon name="call"></ion-icon>
              <h2 (click)="callTo()">{{place.phone}}</h2>
            </button>
          </p>
        </ion-item>

        <ion-card-content>
          <p>{{place.description}}</p>
        </ion-card-content>

        <ion-row *ngIf="place.images.length > 0">
          <ion-col>
            <button ion-button icon-left clear (click)="showPhotos()">
              <ion-icon name="md-camera"></ion-icon>
              <div>Fotos</div>
            </button>
          </ion-col>
        </ion-row>

      </ion-card>
  </ion-list>



</ion-content>
