
<ion-header>

  <ion-toolbar>
    <ion-title>
      Fotos
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="light" showWhen="ios">Cancelar</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content padding class="bc-content">
  <ion-slides pager>
    <div *ngFor="let photo of photos">

          <ion-slide>
              <img-loader useImg src="{{host}}{{photo}}"></img-loader>
          </ion-slide>

        </div>
    </ion-slides>

</ion-content>
