
<ion-header>

  <ion-navbar>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <form [formGroup]="credentialsForm">

        <ion-item>
            <ion-label stacked floating>Nome</ion-label>
            <ion-input type="text" required formControlName="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked floating>Email</ion-label>
            <ion-input type="email" required formControlName="email"></ion-input>
          </ion-item>
          <div *ngIf="!credentialsForm.controls.email.valid && credentialsForm.controls.email.dirty" class="validator-error">
            Email inválido.
          </div>

          <ion-item>
            <ion-label stacked floating>Senha</ion-label>
            <ion-input type="password" required formControlName="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked floating>Telefone</ion-label>
            <ion-input maxlength="11" type="tel" formControlName="phone"></ion-input>
          </ion-item>

          <button ion-button block [disabled]="!credentialsForm.valid" (click)="newUser()">Cadastrar</button>
    </form>

</ion-content>
